<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit section</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/sections/{id}(id=${section.getId()})}" th:object="${section}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="director.name">Director: </label>
    <select th:field="*{director}" id="director.name">
        <option th:each="em: ${employees}"
                th:text="${em.surname} + ' ' + ${em.name} + ' ' + ${em.patronymic} + '.' + ${em.post}"
                th:value="${em.id}">
    </select>
    <br/>
    <label for="department.name">Department: </label>
    <select th:field="*{department}" id="department.name">
        <option th:each="dep: ${departments}"
                th:text="${dep.name}"
                th:value="${dep.id}">
    </select>
    <input type="submit" value="Save"/>
</form>
</body>
</html>