<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New section</title>
</head>
<body>

<form th:action="@{/sections/create}" th:object="${section}" th:method="POST">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="director.name">Director: </label>
    <select th:field="*{director}" id="director.name">
        <option th:each="employee: ${employees}"
                th:text="${employee.surname} + ' ' + ${employee.name} + ' ' + ${employee.patronymic}"
                th:value="${employee.id}">
    </select>
    <label for="department.name">Department: </label>
    <select th:field="*{department}" id="department.name">
        <option th:each="dep: ${departments}"
                th:text="${dep.name}"
                th:value="${dep.id}">
    </select>
    <br/>
    <input type="submit" value="Save"/>
</form>
<a th:href="@{/sections/new}">Add new section</a>

</body>
</html>